{% extends 'base.html.twig' %}

{% block title %}Tipo de chamado - {{ tipo.descricao }}{% endblock %}

{% block body %}
    <h1>Tipo</h1>

    {# {% for i in 0..10 %}
        * {{ i }}
    {% endfor %} #}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo.id }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ tipo.descricao }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipo_index') }}">back to list</a>

    <a href="{{ path('tipo_edit', {'id': tipo.id}) }}">edit</a>

    {{ include('tipo/_delete_form.html.twig') }}
{% endblock %}
