{% extends 'base.html.twig' %}

{% block title %}Chamados disponíveis{% endblock %}

{% block body %}
    <h1>Chamados disponíveis</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(chamados, '#', 'c.id') }}</th>
                <th>{{ knp_pagination_sortable(chamados, 'Abertura', 'c.dataAbertura') }}</th>
                <th>{{ knp_pagination_sortable(chamados, 'Atualização', 'c.dataAtualizacao') }}</th>
                <th>{{ knp_pagination_sortable(chamados, 'Status', 's.descricao') }}</th>
                <th>{{ knp_pagination_sortable(chamados, 'Prioridade', 'p.descricao') }}</th>
                <th>{{ knp_pagination_sortable(chamados, 'Assunto', 'c.assunto') }}</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for chamado in chamados %}
            <tr>
                <td>{{ chamado.id }}</td>
                <td>{{ chamado.dataAbertura ? chamado.dataAbertura|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ chamado.dataAtualizacao ? chamado.dataAtualizacao|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ chamado.status }}</td>
                <td>{{ chamado.prioridade }}</td>
                <td>{{ chamado.assunto }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('chamado_show', {'id': chamado.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('chamado_edit', {'id': chamado.id}) }}">edit</a>
                    <a class="btn btn-secondary" href="{{ path('chamado_encerrar', {'id': chamado.id}) }}">encerrar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(chamados) }}
    </div>
    <a class="btn btn-primary" href="{{ path('chamado_new') }}">Create new</a>
{% endblock %}
